<div class="page-header">
    <div class="page-block">
        <div class="row align-items-center">
            <div class="col-md-8">
                <div class="page-header-title">
                    <h5 class="m-b-10">Filieres</h5>
                </div>
            </div>
            <div class="col-md-4">
                <ul class="breadcrumb-title">
                    <li class="breadcrumb-item">
                        <a href="index.html"> <i class="fa fa-home"></i> </a>
                    </li>
                    <li class="breadcrumb-item"><a href="#!">Filieres</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="pcoded-inner-content">
    <!-- Main-body start -->
    <div class="main-body">
        <div class="page-wrapper">
            <!-- Page-body start -->
            <div class="page-body">
                <div class="row">
                  

                    <div class="table-responsive">
                        <h1>Liste des Filieres</h1>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Nom</th>
                                    <th>Nbr Etudiants</th>
                                    <th>Preferences</th>
                                    <th>Options</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>Service Restauration</td>
                                    <td></td>
                                    <td>Matin</td>
                                    <td>
                                        <button class="btn btn-info waves-effect waves-light">
                                            affectez modules
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>Service Restauration</td>
                                    <td></td>
                                    <td>Apres-midi</td>
                                    <td>
                                        <button class="btn btn-info waves-effect waves-light">
                                            affectez modules
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    </div>
                   
                </div>
            </div> 
        </div>
        <div id="styleSelector"> </div>
    </div>