<div class="page-header">
    <div class="page-block">
        <div class="row align-items-center">
            <div class="col-md-8">
                <div class="page-header-title">
                    <h5 class="m-b-10">Professeurs</h5>
                </div>
            </div>
            <div class="col-md-4">
                <ul class="breadcrumb-title">
                    <li class="breadcrumb-item">
                        <a href="index.html"> <i class="fa fa-home"></i> </a>
                    </li>
                    <li class="breadcrumb-item"><a href="#!">Professeurs</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="pcoded-inner-content">
    <!-- Main-body start -->
    <div class="main-body">
        <div class="page-wrapper">
            <!-- Page-body start -->
            <div class="page-body">
                <div class="row">
                  

                    <div class="table-responsive">
                        <div class="divTable">
                            <h1>Liste des Professeurs</h1>
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                                Ajouter
                              </button>
                        </div>
                        
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>CIN</th>
                                    <th>Nom</th>
                                    <th>Prenom</th>
                                    <th>telf</th>
                                    <th>email</th>
                                    <th>Options</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">EF342342</th>
                                    <td>Alaoui</td>
                                    <td>Hamza</td>
                                    <td>064543534</td>
                                    <td>hamza.fiali@gmail.com</td>
                                    <td>
                                        <button class="btn btn-danger waves-effect waves-light">
                                            Supprimer
                                        </button>
                                        <button class="btn btn-success waves-effect waves-light">
                                            modifier
                                        </button>
                                        <button class="btn btn-primary waves-effect waves-light">
                                            disponibilites
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">EF342342</th>
                                    <td>Alaoui</td>
                                    <td>Hamza</td>
                                    <td>064543534</td>
                                    <td>hamza.fiali@gmail.com</td>
                                    <td>
                                        <button class="btn btn-danger waves-effect waves-light">
                                            Supprimer
                                        </button>
                                        <button class="btn btn-success waves-effect waves-light">
                                            modifier
                                        </button>
                                        <button class="btn btn-primary waves-effect waves-light">
                                            disponibilites
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">EF342342</th>
                                    <td>Alaoui</td>
                                    <td>Hamza</td>
                                    <td>064543534</td>
                                    <td>hamza.fiali@gmail.com</td>
                                    <td>
                                        <button class="btn btn-danger waves-effect waves-light">
                                            Supprimer
                                        </button>
                                        <button class="btn btn-success waves-effect waves-light">
                                            modifier
                                        </button>
                                        <button class="btn btn-primary waves-effect waves-light">
                                            disponibilites
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">EF342342</th>
                                    <td>Alaoui</td>
                                    <td>Hamza</td>
                                    <td>064543534</td>
                                    <td>hamza.fiali@gmail.com</td>
                                    <td>
                                        <button class="btn btn-danger waves-effect waves-light">
                                            Supprimer
                                        </button>
                                        <button class="btn btn-success waves-effect waves-light">
                                            modifier
                                        </button>
                                        <button class="btn btn-primary waves-effect waves-light">
                                            disponibilites
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">EF342342</th>
                                    <td>Alaoui</td>
                                    <td>Hamza</td>
                                    <td>064543534</td>
                                    <td>hamza.fiali@gmail.com</td>
                                    <td>
                                        <button class="btn btn-danger waves-effect waves-light">
                                            Supprimer
                                        </button>
                                        <button class="btn btn-success waves-effect waves-light">
                                            modifier
                                        </button>
                                        <button class="btn btn-primary waves-effect waves-light">
                                            disponibilites
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">EF342342</th>
                                    <td>Alaoui</td>
                                    <td>Hamza</td>
                                    <td>064543534</td>
                                    <td>hamza.fiali@gmail.com</td>
                                    <td>
                                        <button class="btn btn-danger waves-effect waves-light">
                                            Supprimer
                                        </button>
                                        <button class="btn btn-success waves-effect waves-light">
                                            modifier
                                        </button>
                                        <button class="btn btn-primary waves-effect waves-light">
                                            disponibilites
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">EF342342</th>
                                    <td>Alaoui</td>
                                    <td>Hamza</td>
                                    <td>064543534</td>
                                    <td>hamza.fiali@gmail.com</td>
                                    <td>
                                        <button class="btn btn-danger waves-effect waves-light">
                                            Supprimer
                                        </button>
                                        <button class="btn btn-success waves-effect waves-light">
                                            modifier
                                        </button>
                                        <button class="btn btn-primary waves-effect waves-light">
                                            disponibilites
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">EF342342</th>
                                    <td>Alaoui</td>
                                    <td>Hamza</td>
                                    <td>064543534</td>
                                    <td>hamza.fiali@gmail.com</td>
                                    <td>
                                        <button class="btn btn-danger waves-effect waves-light">
                                            Supprimer
                                        </button>
                                        <button class="btn btn-success waves-effect waves-light">
                                            modifier
                                        </button>
                                        <button class="btn btn-primary waves-effect waves-light">
                                            disponibilites
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">EF342342</th>
                                    <td>Alaoui</td>
                                    <td>Hamza</td>
                                    <td>064543534</td>
                                    <td>hamza.fiali@gmail.com</td>
                                    <td>
                                        <button class="btn btn-danger waves-effect waves-light">
                                            Supprimer
                                        </button>
                                        <button class="btn btn-success waves-effect waves-light">
                                            modifier
                                        </button>
                                        <button class="btn btn-primary waves-effect waves-light">
                                            disponibilites
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">EF342342</th>
                                    <td>Alaoui</td>
                                    <td>Hamza</td>
                                    <td>064543534</td>
                                    <td>hamza.fiali@gmail.com</td>
                                    <td>
                                        <button class="btn btn-danger waves-effect waves-light">
                                            Supprimer
                                        </button>
                                        <button class="btn btn-success waves-effect waves-light">
                                            modifier
                                        </button>
                                        <button class="btn btn-primary waves-effect waves-light">
                                            disponibilites
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">EF342342</th>
                                    <td>Alaoui</td>
                                    <td>Hamza</td>
                                    <td>064543534</td>
                                    <td>hamza.fiali@gmail.com</td>
                                    <td>
                                        <button class="btn btn-danger waves-effect waves-light">
                                            Supprimer
                                        </button>
                                        <button class="btn btn-success waves-effect waves-light">
                                            modifier
                                        </button>
                                        <button class="btn btn-primary waves-effect waves-light">
                                            disponibilites
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    </div>
                   
                </div>
            </div> 
        </div>
        <div id="styleSelector"> </div>
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Ajouter un Professeur</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body form-material">
                <div class="form-group form-success">
                    <input type="text" name="" class="form-control" required="">
                    <span class="form-bar"></span>
                    <label class="float-label">CIN</label>
                </div>
                <div class="form-group form-success">
                    <input type="text" name="" class="form-control" required="">
                    <span class="form-bar"></span>
                    <label class="float-label">Nom</label>
                </div>
                <div class="form-group form-success">
                    <input type="text" name="" class="form-control" required="">
                    <span class="form-bar"></span>
                    <label class="float-label">Prenom</label>
                </div>
                <div class="form-group form-success">
                    <input type="text" name="" class="form-control" required="">
                    <span class="form-bar"></span>
                    <label class="float-label">telf</label>
                </div>
                <div class="form-group form-success">
                    <input type="text" name="" class="form-control" required="">
                    <span class="form-bar"></span>
                    <label class="float-label">Email</label>
                </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
              <button type="button" class="btn btn-primary">Enregister</button>
            </div>
          </div>
        </div>
      </div>
